<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="text-white/90 [&>p]:mb-4 [&>p>strong]:text-primary-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Alfredo Villegas, me apasiona participar en la planeación de ideas y su ejecución en productos
      funcionales. <strong>Actualmente Soy un desarrollador web full-stack con experiencia trabajando en equipo</strong
      >.
    </p>

    <p>
      Mi objetivo es utilizar estas habilidades y experiencia para <strong
        >contribuir al desarrollo de productos innovadores que impacten positivamente a las personas</strong
      > por medio de la tecnología.
    </p>

    <p>
      Una de las experiencias que más destaco fue mi trabajo en InnovaXD, tuve la oportunidad de desarrollar
      funcionalidades requeridas por varios clientes involucrados (entre ellos el Ministerio de Educación en Chile), asi
      como también <strong
        >apoyar a mis compañeros en sus tickets, me gusta trabajar en equipo, aprender de ellos y enseñar lo que pueda</strong
      >.
    </p>

    <p>Fuera del trabajo, disfruto de cualquier actividad con mis amigos y familiares.</p>
  </div>
  <img src="/yo-3.png" alt="foto de Alfredo Villegas" class="rounded-full size-64 order-1 md:order-2 bg-white" />
</section>