<section class="flex flex-col md:flex-row gap-8 justify-center items-center">
  <div
    class="text-white/90 [&>p]:mb-4 [&>p>strong]:text-primary-400 [&>p>strong]:font-semibold text-pretty order-2 md:order-1"
  >
    <p>
      Me llamo Alfredo Villegas, me apasiona participar en la planeación de ideas y su ejecución en productos
      funcionales. <strong>Actualmente Soy un desarrollador web full-stack con experiencia trabajando en equipo</strong
      >.
    </p>

    <p>
      Mi objetivo es utilizar estas habilidades y experiencia para <strong
        >contribuir al desarrollo de productos innovadores que impacten positivamente a las personas</strong
      > por medio de la tecnología.
    </p>

    <p>
      Una de las experiencias que más destaco fue mi trabajo en InnovaXD, tuve la oportunidad de desarrollar
      funcionalidades requeridas por varios clientes involucrados (entre ellos el Ministerio de Educación en Chile), asi
      como también <strong
        >apoyar a mis compañeros en sus tickets, me gusta trabajar en equipo, aprender de ellos y enseñar lo que pueda</strong
      >.
    </p>

    <p>Fuera del trabajo, disfruto de cualquier actividad con mis amigos y familiares.</p>
  </div>
  <img src="/alfredo-profile2.jpg " class="rounded-full size-64 order-1 md:order-2" />
</section>

<!-- <p class="mt-20">
  Me entusiasma aprender y actualmente tengo interes en el desarrollo móvil multiplataforma con tecnologias como
  Flutter.
</p>-->
<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de Midudev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
