---
import LinkedIn from './icons/LinkedIn.astro';
---

<div class="bg-white/5
border dark:border-white/10 border-gray-300 rounded p-3 mt-8 flex gap-4 relative">
  <LinkedIn class="size-8 hover:scale-110 md:size-6 absolute right-4 top-4" />
  <img
    class="w-14 h-14 object-center rounded-full mt-1.5 -start-1.5 border border-gray-900 bg-gray-700"
    src="../../public/perfil-cata.jpg"
    alt="midudev photo"
  />
  <div class="flex flex-col">
    <h3 class="text-lg font-semibold">Cata Evans Amador</h3>
    <span class="text-md font-normal">Coordinadora de Proyectos en Desafío Latam.</span>
    <span class="mt-1 mb-2 text-sm font-normal leading-none text-gray-6 00 dark:text-gray-400"
      >17 de noviembre de 2023, Cata supervisaba directamente a Alfredo</span
    >
    <p class="text-pretty">
      Alfredo demuestra compromiso, profesionalismo y agilidad en cada una de sus tareas. Es un desarrollador con
      capacidad de liderazgo, aprendizaje continuo y resolución de conflictos. Excelente trabajando en equipo y con
      basto conocimiento y experiencia como Fullstack. Sin duda fue un factor de valor en el equipo y recomiendo el
      trabajo con Alfredo.
    </p>
  </div>
</div>
